<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for(@login, as: :session, html: { novalidate: true }) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if f.object.errors[:email].any? %>
        <div class="#">
          <%= f.object.errors[:email].first %>
        </div>
      <% end %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <% if f.object.errors[:password].any? %>
        <div class="#">
          <%= f.object.errors[:password].first %>
        </div>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>ユーザー登録を済ませてませんか？ <%= link_to "ユーザー登録", signup_new_path %></p>
  </div>
</div>
