<%# # new（新規作成フォーム）
# get '/users/new', to: 'users#new' などをlink_toでジャンプ先に
したいのならresources :usersで指定してアクションの所、例えば
get '/users/new', to: 'users#new'を反対にnew_user_pathとジャンプさせる。
resources :usersを使わない場合はget '/users/new', to: 'users#new'に
, as: 'users_new'をつけてlink_toにnew_user_pathをつける。
%>

<div><%= link_to "SignUp", signup_new_path, class: "#" %></div>
<div><%= link_to "Login", login_mew_path, class: "#"%></div>
<%# turboはフォーム送信後のリダイレクトを期待する場合のみに使う。 %>
<div><%= button_to "Logout", '/logout', method: :delete, class: "#", data: { "turbo-method": :delete }, form: { "data-turbo-action": "replace" } %></div>
<div><%= link_to "withdraw", withdraw_path, class: "#" %></div>
<%# <div><%= link_to "withdraw", withdraw_patch_path, method: :patch, class: "#", data: { "turbo-method": :patch }, form: { "data-turbo-action": "replace" } %></div> %>

<% if logged_in? %>
  <%= current_user.inspect %>
  <%= current_user.attributes %>
    <%# <%= link_to 'Profile', current_user
    <li><%= link_to 'Logout', logout_path,</li> %>
  <% else %>
  セッション情報はありません。
<% end %>
<%# 上記のコードではform: { "data-turbo-action": "replace" }を追加しています。これは、ログアウト後にページ全体を再読み込みするためのものです。
これがないと、ログアウト後も現在のページが表示され続ける可能性があります。 %>


<%# 他のルーティングだとget扱いになる。
例:<><%= link_to "Login", login_new_path, class: "#" %>
<%# deleteのあルーティングを求める場合はmethod: :delete等を求める。
<%= link_to "Logout", logout_destroy_path, method: :delete %>

